In [3]:
import pandas as pd

#### Importamos el dataset de los datos de los pokemon

In [4]:
df = pd.read_csv("dataset_final.csv")
print(df)

       #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 13 columns]

### 1. ¿Cuántos pokémon hay en el dataset?

In [6]:
'''
1. ¿Cuántos pokémon hay en el dataset?
'''
#len(data) #Se podría hacer un len() para ver la longitud del dataset

df.shape #Nos indica el número de filas y columnas en el dataset

(800, 13)

### 2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)

In [7]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)
'''
Poison_type = df[df['Type 1'] == "Poison"]
len(Poison_type)

28

### 3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)

In [8]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''
df['Type 1'].nunique()

18

### 2. ¿Cuántos pokémon hay de cada tipo? (Type 1)

In [43]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''
pd.DataFrame(df.groupby("Type 1").size())

            0
Type 1
Bug        69
Dark       31
Dragon     32
Electric   44
Fairy      17
Fighting   27
Fire       52
Flying      4
Ghost      32
Grass      70
Ground     32
Ice        24
Normal     98
Poison     28
Psychic    57
Rock       44
Steel      27
Water     112

### 2.1 ¿Cuál es el tipo de pokémon con más pokémon? (Type 1)

In [9]:
'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)
'''
number = df['Type 1'].value_counts()
print (number)

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [35]:
print("El pokémon de tipo Water es el tipo de pokémon con más pokémon")

El pokémon de tipo Water es el tipo de pokémon con más pokémon

### 3. ¿Cuál es el pokémon más rápido?

In [10]:
'''
3. ¿Cuál es el pokémon más rápido?
'''
df.sort_values('Speed',ascending=False).head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
431,386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True

In [42]:
df['Name'].loc[df['Speed'].idxmax()] #Otra solución

'DeoxysSpeed Forme'

In [43]:
print("El pokémon más rápido es DeoxysSpeed Forme")

El pokémon más rápido es DeoxysSpeed Forme

### 4. ¿Cuántos pokemon tiene una defensa superior a 100?

In [11]:
'''
4. ¿Cuántos pokemon tiene una defensa superior a 100?
'''
pokemon_100 = df[df.Defense >= 100]
print(pokemon_100)

       #                       Name  Type 1  Type 2  Total   HP  Attack  \
3      3      VenusaurMega Venusaur   Grass  Poison    625   80     100
7      6  CharizardMega Charizard X    Fire  Dragon    634   78     130
11     9                  Blastoise   Water     NaN    530   79      83
12     9    BlastoiseMega Blastoise   Water     NaN    630   79     103
33    28                  Sandslash  Ground     NaN    450   75     100
..   ...                        ...     ...     ...    ...  ...     ...
789  713                    Avalugg     Ice     NaN    514   95     117
794  718           Zygarde50% Forme  Dragon  Ground    600  108     100
795  719                    Diancie    Rock   Fairy    600   50     100
796  719        DiancieMega Diancie    Rock   Fairy    700   50     160
799  721                  Volcanion    Fire   Water    600   80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
3        123      122      120     80           1      False
7        111      130       85    100           1      False
11       100       85      105     78           1      False
12       120      135      115     78           1      False
33       110       45       55     65           1      False
..       ...      ...      ...    ...         ...        ...
789      184       44       46     28           6      False
794      121       81       95     95           6       True
795      150      100      150     50           6       True
796      110      160      110    110           6       True
799      120      130       90     70           6       True

[156 rows x 13 columns]

### 5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?

In [5]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?
'''
pokemon_defense_speed = df[(df.Defense > 100) & (df.Speed > 100)].shape[0]
pokemon_defense_speed

9

### 6. Ordena el dataset por el tipo 1 y por el tipo 2

In [16]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''
df.sort_values(by = ["Type 1", "Type 2"])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False
657,596,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
697,636,Larvesta,Bug,Fire,360,55,85,55,50,55,60,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

### 7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo

In [15]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''
water_fire = df[df["Type 1"].isin(["Water","Fire"])]
print(water_fire)

       #                       Name Type 1  Type 2  Total  HP  Attack  \
4      4                 Charmander   Fire     NaN    309  39      52
5      5                 Charmeleon   Fire     NaN    405  58      64
6      6                  Charizard   Fire  Flying    534  78      84
7      6  CharizardMega Charizard X   Fire  Dragon    634  78     130
8      6  CharizardMega Charizard Y   Fire  Flying    634  78     104
..   ...                        ...    ...     ...    ...  ..     ...
735  667                     Litleo   Fire  Normal    369  62      50
736  668                     Pyroar   Fire  Normal    507  86      68
762  692                  Clauncher  Water     NaN    330  50      53
763  693                  Clawitzer  Water     NaN    500  71      73
799  721                  Volcanion   Fire   Water    600  80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
4         43       60       50     65           1      False
5         58       80       65     80           1      False
6         78      109       85    100           1      False
7        111      130       85    100           1      False
8         78      159      115    100           1      False
..       ...      ...      ...    ...         ...        ...
735       58       73       54     72           6      False
736       72      109       66    106           6      False
762       62       58       63     44           6      False
763       88      120       89     59           6      False
799      120      130       90     70           6       True

[164 rows x 13 columns]

### 8. Crea un nuevo dataset con los pokemon Legendary

In [19]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''
df_legendary = df[df['Legendary']==True]
df_legendary

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

### 9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary

In [20]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''
cols = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']

df_not_legendary = df[df['Legendary']==False]

mean_legendary = df_legendary[cols].mean()
print(mean_legendary)

mean_not_legendary = df_not_legendary[cols].mean()
print(mean_not_legendary)

HP          92.738462
Attack     116.676923
Defense     99.661538
Sp. Atk    122.184615
Sp. Def    105.938462
Speed      100.184615
dtype: float64
HP         67.182313
Attack     75.669388
Defense    71.559184
Sp. Atk    68.454422
Sp. Def    68.892517
Speed      65.455782
dtype: float64

### 10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

In [25]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87

'''
new_df = mean_legendary.compare(mean_not_legendary)
new_df.columns = ['Legendary', 'Not legendary']
new_df

          Legendary  Not legendary
HP        92.738462      67.182313
Attack   116.676923      75.669388
Defense   99.661538      71.559184
Sp. Atk  122.184615      68.454422
Sp. Def  105.938462      68.892517
Speed    100.184615      65.455782

### 11. Añade una nueva columna ['Doble tipo'] al dataframe inicial que indique si el pokemon tiene dos tipos o no

In [34]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que inndique si el pokemon tiene dos tipos o no
'''
import numpy as np
df['Doble tipo'] = np.where(df['Type 2']. isnull(), False, True)

### 12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name

In [41]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''
columns3 = df.iloc[:, 1:4]
columns3.sort_values(by = ["Type 1", "Type 2", "Name"])

                        Name Type 1    Type 2
657               Galvantula    Bug  Electric
656                   Joltik    Bug  Electric
231                Heracross    Bug  Fighting
232  HeracrossMega Heracross    Bug  Fighting
697                 Larvesta    Bug      Fire
..                       ...    ...       ...
595                  Tympole  Water       NaN
145                 Vaporeon  Water       NaN
350                  Wailmer  Water       NaN
351                  Wailord  Water       NaN
10                 Wartortle  Water       NaN

[800 rows x 3 columns]

### 13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:

In [8]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']


# A. Una función que calcule el precio total de la compra

# B. Una función que calcule el precio total de la compra con un descuento del 10%

# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€

# D. Una función que calcule el precio total aplicando el IVA (21%)

# E.lista los artículos cuyo precio es superior a 20€

#### A. Una función que calcule el precio total de la compra

In [90]:
# A. Una función que calcule el precio total de la compra

def total_price():
    return sum(articulos[x] for x in compra)

In [91]:
total_price()

155

#### B. Una función que calcule el precio total de la compra con un descuento del 10%

In [94]:
# B. Una función que calcule el precio total de la compra con un descuento del 10%

def total_discount():
    return sum(articulos[x] for x in compra) * 0.9

In [95]:
total_discount()

139.5

#### C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€

In [116]:
# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€

def total_discount_limit():
    if total_price() > 100:
        return sum(articulos[x] for x in compra) * 0.9

In [117]:
total_discount_limit()

139.5

#### D. Una función que calcule el precio total aplicando el IVA (21%)

In [6]:
def total_iva():
    return (sum(articulos[x] for x in compra) * 1.21)

In [9]:
total_iva()

187.54999999999998

#### E. Lista los artículos cuyo precio es superior a 20€

In [2]:
# E.lista los artículos cuyo precio es superior a 20€
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

newDict = list(filter(lambda x: x[1] >20, articulos.items())) #Devuelve una lista con el artículo cuyo precio es mayor de 20, y su valor
print(newDict)

[('Pantalón', 30), ('Zapatos', 50), ('Gafas', 25), ('Reloj', 35), ('Corbata', 40)]

### 14. Define una funcion que reciba el curso y saque una lista en la que aparezca el nombre y apellidos y el promedio de sus notas.

In [6]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca el nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]

In [7]:
def notas(curso, alumnos):
    return list(map((lambda x:[x[0], sum(x[3])/ len(x[3])]), filter(lambda x: int(x[2])==curso, alumnos)))

In [8]:
notas(2,alumnos)

[['Ana', 7.0],
 ['María', 7.0],
 ['Lucía', 7.0],
 ['Sara', 7.0],
 ['Miguel', 7.0],
 ['Sandra', 7.0],
 ['María', 7.0]]